@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  margin-top: 20px;
  background-color: darkgreen;
  font-size: 40px;
  font-family: "Charis SIL", serif;
}
#card {
  border-radius: 10px;
  height: 300px;
}
.body {
  height: 600px;
  font-size: 80px;
}
